* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
}

.row {
  width: 1140px;
  margin: 0 auto;
}

.clearfix::after {
  clear: both;
  content: " ";
  display: table;
}
section {
  padding: 80px 0;
}

h1 {
  font-weight: 100;
  font-size: 250%;
  word-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px 0 10px;
  text-transform: capitalize;
}

h2 {
  font-weight: 100;
  font-size: 240%;
  word-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px 0 10px;
  text-transform: capitalize;
}

h2::before {
  content: " ";
  width: 60%;
  border-top: 1px solid #949494;
  display: block;
  margin: 0 auto 80px;
}

h3 {
  word-spacing: 1px;
  font-weight: 100;
  font-size: 110%;
  text-align: center;
  text-transform: capitalize;
}

/* -------------- header section -------------- */
.header-section {
  background-image: url("./img/bg.png");
  height: 916px;
  width: auto;
  background-size: cover;
}

.logo-container {
  position: relative;
  top: 20px;
  left: 43px;
}

.header-container {
  position: relative;
  top: 40px;
}

.description {
  text-align: center;
  font-size: 110%;
  font-weight: 100;
  letter-spacing: 1px;
}
.des-2 {
  font-size: 90%;
}

.startnow,
.getstart {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  background-color: #d448d0;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 30px;
}

.startnow:hover,
.getstart:hover {
  background-color: #da70d6;
}

/* -------------- feature section -------------- */

.feature-container {
  border: 1px solid transparent;
}

.feature-container div {
  border-right: 1px solid #d4cece;
  padding: 0 2%;
}

.feature-container div img {
  display: inline-block;
  margin-left: 30%;
  margin-top: -30px;
}

.feature-container div p {
  font-size: 70%;
  text-align: center;
  margin-top: 10px;
  line-height: 145%;
}

/* -------------- templates section -------------- */

.templates-pre-section {
  padding: 0;
}
.show-temp {
  text-align: center;
}
.show-temp ul {
  width: 100%;
}

li {
  display: inline-block;
  width: 30%;
  margin: 0px;
  padding-top: 1px;
  margin: 3px;
}

li figure {
  width: 100%;
}

li img {
  width: 100%;
  height: 200px;
  box-shadow: 1px 1px 3px #c0bfbf;
}

li img:hover {
  opacity: 0.7;
}

/* -------------- footer section -------------- */

footer {
  background: #f0f0f0;
  padding: 10px 0;
}

footer div {
  font-size: 90%;
  text-align: center;
  padding-right: 2%;
}

.footer1 {
  border-right: 1px solid #868484;
  width: 35%;
  height: 30px;
}

.footer1 div {
  line-height: 145%;
  width: 90%;
  text-align: center;
}

.footer2,
.footer3,
.footer4 {
  border-right: 1px solid #868484;
  width: 20%;
  height: 30px;
}

.footer2 div,
.footer3 div,
.footer4 div {
  margin-top: 7px;
}

footer a {
  text-decoration: none;
}
